.dropdown {
  --bg: rgba(215, 215, 215, 0.95);
  --textColor: #000000;
  --navSize: 60px;
  --border: 0px solid #ffffff;
  --borderRadius: 8px;
  --outerBorderRadius: 12px;
  --transDuration: 400ms;
  --menuWidth: 300px;
  --itemHeight: 50px;
  --borderThickness: 2px;

  position: absolute;
  top: 55px;
  width: var(--menuWidth);
  height: auto;
  transform: translateX(50%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--outerBorderRadius);
  padding: 0.5rem;
  overflow: hidden;
  transition: height var(--transDuration) ease;
  font-size: 20px;
}
.dropdown a {
  color: var(--textColor);
  text-decoration: none;
}

.dropdown .menu-item {
  height: var(--itemHeight);
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  transition: background-color 300ms;
  transition: filter 300ms;
  transition: opacity 300ms;
  padding: 0.2rem;
}
.dropdown .menu-item.enabled.unselectable.connectPrev {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.dropdown .menu-item.enabled.unselectable.connectNext {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown .menu-item .standaloneText {
  margin-left: 15px;
}
.dropdown .menu-item h2 {
  font-size: 24px;
}

.dropdown .menu-item.enabled.selectable:hover,
.dropdown .menu-item.selected {
  background-color: #eeeeee;
}

.dropdown .menu-item.enabled.unselectable {
  color: #000000;
  /* background-color: #aaeeff; */
  background-color: #ffffff;
  cursor: default;
}
.dropdown .menu-item.disabled {
  /* opacity: 0.7; */
  cursor: not-allowed;
  background-color: #bbbbbb;
  color: #666666;
}

.dropdown .icon-left {
  --button-size: calc(var(--navSize) * 0.5);
  width: var(--button-size);
  min-width: var(--button-size);
  height: var(--button-size);
  background-color: #eaeaea;
  border-radius: 50%;
  margin: 0px 10px 0px 4px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms;
  transition: filter 300ms;
  transition: opacity 300ms;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.dropdown .icon-left div {
  display: flex;
  width: 100%;
  height: 100%;
}
.dropdown .menu-item.enabled.selectable:hover .icon-left,
.dropdown .menu-item.selected .icon-left {
  background-color: #ffffff;
  box-shadow: none;
}

.dropdown .menu-item.disabled .icon-left {
  filter: brightness(0.85);
}

.dropdown .icon-left svg {
  width: 100%;
  height: 100%;
}

.dropdown .icon-right {
  margin-left: auto;
  --button-size: calc(var(--navSize) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown .icon-right svg {
  fill: var(--textColor);
  width: 20px;
  height: 20px;
}

.menu-moveRight {
  width: var(--menuWidth);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.menu-moveLeft {
  width: var(--menuWidth);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.menu-moveRight.menu-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-moveRight.menu-enter-active {
  transform: translateX(0%);
  transition: all var(--transDuration) ease;
}
.menu-moveRight.menu-exit {
  position: absolute;
  transform: translateX(0%);
}
.menu-moveRight.menu-exit-active {
  transform: translateX(110%);
  transition: all var(--transDuration) ease;
}

.menu-moveLeft.menu-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-moveLeft.menu-enter-active {
  transform: translateX(0%);
  transition: all var(--transDuration) ease;
}
.menu-moveLeft.menu-exit {
  position: absolute;
  transform: translateX(0%);
}
.menu-moveLeft.menu-exit-active {
  transform: translateX(-110%);
  transition: all var(--transDuration) ease;
}
