.dropdown {
  --bg: rgba(215, 215, 215, 0.9);
  --text-color: #444444;
  --nav-size: 60px;
  --border: 0px solid #ffffff;
  --border-radius: 8px;
  --speed: 400ms;
  --menu-width: 300px;

  position: absolute;
  top: 55px;
  width: var(--menu-width);
  height: auto;
  transform: translateX(50%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  overflow: hidden;
  transition: height var(--speed) ease;
  margin-left: 0px;
  font-size: 20px;
}
.dropdown a {
  color: var(--text-color);
  text-decoration: none;
}

.dropdown .menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background-color 300ms;
  transition: filter 300ms;
  transition: opacity 300ms;
  padding: 0.2rem;
}

.dropdown .menu-item.enabled.selectable:hover,
.dropdown .menu-item.selected {
  background-color: #eeeeee;
}

.dropdown .menu-item.enabled.unselectable {
  color: #000000;
  background-color: #aaeeff;
  cursor: default;
}
.dropdown .menu-item.disabled {
  /* opacity: 0.7; */
  cursor: not-allowed;
  background-color: #bbbbbb;
  color: #666666;
}

.dropdown .icon-left {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  min-width: var(--button-size);
  height: var(--button-size);
  background-color: #eaeaea;
  border-radius: 50%;
  padding: 5px;
  margin: 0px 10px 0px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms;
  transition: filter 300ms;
  transition: opacity 300ms;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.dropdown .menu-item.enabled.selectable:hover .icon-left,
.dropdown .menu-item.selected .icon-left {
  background-color: #ffffff;
  box-shadow: none;
}

.dropdown .menu-item.disabled .icon-left {
  filter: brightness(0.85);
}

.dropdown .icon-left svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.dropdown .icon-right {
  margin-left: auto;
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown .icon-right svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.menu-moveRight {
  width: var(--menu-width);
}
.menu-moveLeft {
  width: var(--menu-width);
}

.menu-moveRight.menu-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-moveRight.menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-moveRight.menu-exit {
  position: absolute;
  transform: translateX(0%);
}
.menu-moveRight.menu-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.menu-moveLeft.menu-enter {
  position: absolute;
  transform: translateX(110%);
}
.menu-moveLeft.menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-moveLeft.menu-exit {
  position: absolute;
  transform: translateX(0%);
}
.menu-moveLeft.menu-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
