.mask {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}
.messageBox.info {
  --color_bright: #99ccff;
  --color_dark: #3366aa;
  --color_dark2: #113377;
}
.messageBox.warning {
  --color_bright: #ffec5a;
  --color_dark: #bc8f07;
  --color_dark2: #6c5205;
}
.messageBox.error {
  --color_bright: #ff9999;
  --color_dark: #aa3333;
  --color_dark2: #770000;
}
.messageBox.success {
  --color_bright: #99ff99;
  --color_dark: #33aa33;
  --color_dark2: #007700;
}
.messageBox {
  --btn_size: 60px;
  --outer_radius: 10px;
  --inner_radius: 8px;
  width: 95%;
  margin: 10px auto;
  font-size: 20px;
  background-color: var(--color_dark);
  border-radius: var(--outer_radius);
  border: 2px solid var(--color_dark);
  display: flex;
}
.messageBox div.left {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
  border-radius: var(--outer_radius);
}
.messageBox div.title {
  padding: 8px 0;
  color: var(--color_bright);
  font-weight: bold;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.messageBox .btn-close {
  border: none;
  background-color: var(--color_bright);
  border-radius: 0 var(--inner_radius) var(--inner_radius) 0;
  border: 2px solid var(--color_dark);
  color: var(--color_dark);
  width: var(--btn_size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--btn_size) - 10px);
  transition: filter 220ms;
  margin-left: auto;
}

.messageBox div.content {
  background-color: var(--color_bright);
  padding: 12px 16px;
  border-bottom-left-radius: var(--inner_radius);
  border: 2px solid var(--color_dark);
  color: var(--color_dark2);
}

.messageBox div.content p,
ul {
  margin-top: 2px;
  margin-bottom: 8px;
}

.messageBox div.footer {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color_bright);
  flex-wrap: wrap;
}

.messageBox .footer .btn {
  border: none;
  /* border-left: 2px solid #f4c434; */
  background-color: var(--color_bright);
  border-radius: 0 0 var(--inner_radius) var(--inner_radius);
  border: 2px solid var(--color_dark);
  color: var(--color_dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  transition: filter 220ms;
  padding: 4px 8px;
  width: 50%;
  min-width: fit-content;
}
.messageBox button:hover {
  filter: brightness(1.2);
}
.messageBox button:active {
  filter: brightness(0.8);
}
