/*
 * Game View - Basic settings
 */
.gameView {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  user-select: none;
}

/*
 * Tile - Basic settings
 */
.gameView .tile {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: 100% 100%;
  /* prevent weird gaps between tiles */
  background-repeat: repeat;
  user-select: none;
}
.gameView .tile.selected {
  box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 5px #ff0000,
    inset 0 0 20px 6px #ffffff;
}
.gameView .tile svg,
.gameView .tile img {
  width: 100%;
  height: 100%;
  user-select: none;
}
.gameView .tile > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Debug UI
 */
.gameView .tile div.debug {
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1px 2px;
  border-radius: 1px;
}
.gameView.debugOff .tile div.debug,
.gameView .tile.empty div.debug {
  display: none;
}
/*
 * Character Display
 */
.characterDiv {
  --ease-duration: 500ms;
  transition: translate var(--ease-duration) ease-in-out;
}
.characterDiv.position-left {
  translate: -100% 0%;
}
.characterDiv.position-left-up {
  translate: -100% -100%;
}
.characterDiv.position-left-down {
  translate: -100% 100%;
}
.characterDiv.position-right {
  translate: 100% 0%;
}
.characterDiv.position-right-up {
  translate: 100% -100%;
}
.characterDiv.position-right-down {
  translate: 100% 100%;
}
.characterDiv.position-up {
  translate: 0% -100%;
}
.characterDiv.position-down {
  translate: 0% 100%;
}
.characterDiv.position-center {
  translate: 0% 0%;
}
.characterDiv.selected svg,
.characterDiv.selected img {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 5px #ff0000;
}
.characterDiv.hitCharacter svg,
.characterDiv.hitCharacter img {
  opacity: "0.85";
}
.characterDiv.hitItem svg,
.characterDiv.hitItem img {
  opacity: "0.85";
}
.characterDiv.flip {
  scale: -1 1;
}
/*
 * Item Display
 */
.gameView .tile div.item.flip {
  scale: -1 1;
}
/*
 * Target Beacon Display
 */
.gameView .tile div.targetBeacon {
  opacity: 1;
  transition: opacity 500ms ease;
}
.gameView .tile div.targetBeacon.fade-out {
  opacity: 0;
}
