.popup {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup.mask {
  background-color: rgba(255, 255, 255, 0.7);
}
.popup.noMask {
  pointer-events: none;
  background-color: transparent;
}
.popup .messageBox.info {
  --color_bright: #99ccff;
  --color_dark: #14498e;
  --color_dark2: #0a265f;
  --gradient_color1: #a1d0ff;
  --gradient_color2: #99ccff;
  --gradient_color3: #82c0ff;
}
.popup .messageBox.warning {
  --color_bright: #ffec5a;
  --color_dark: #ab8104;
  --color_dark2: #564100;
  --gradient_color1: #fcee81;
  --gradient_color2: #ffec5a;
  --gradient_color3: #f8de5f;
}
.popup .messageBox.error {
  --color_bright: #ff9999;
  --color_dark: #992222;
  --color_dark2: #770000;
  --gradient_color1: #ffacac;
  --gradient_color2: #ffa1a1;
  --gradient_color3: #ff9090;
}
.popup .messageBox.success {
  --color_bright: #99ff99;
  --color_dark: #188818;
  --color_dark2: #004e00;
  --gradient_color1: #acffac;
  --gradient_color2: #99ff99;
  --gradient_color3: #88f588;
}
.popup .messageBox {
  --btn_size: 60px;
  --outer_radius: 10px;
  --inner_radius: 8px;
  width: 95%;
  margin: 70px auto;
  font-size: 20px;
  border-radius: var(--outer_radius);
  border: 2px solid var(--color_dark);
  display: flex;
  background-color: var(--color_dark);

  --bg_gradient: linear-gradient(
    150deg,
    var(--gradient_color1) 10%,
    var(--gradient_color2) 25%,
    var(--gradient_color3) 25.5%,
    var(--gradient_color2) 75%,
    var(--gradient_color3) 75.5%,
    var(--gradient_color2) 85%
  );
}
.popup .messageBox div.left {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 20px);
  border-top-left-radius: var(--inner_radius);
}
.popup .messageBox div.title {
  padding: 8px 0;
  color: var(--color_bright);
  border-top-left-radius: var(--inner_radius);
  font-weight: bold;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(200, 200, 200, 0.2) 35%,
    rgba(150, 150, 150, 0.2) 35.5%,
    rgba(200, 200, 200, 0.2) 75%,
    rgba(150, 150, 150, 0.2) 75.5%,
    rgba(200, 200, 200, 0.2) 90%
  );
}

.popup .messageBox .btn-close {
  border: none;
  background: var(--bg_gradient);
  border-radius: 0 var(--inner_radius) var(--inner_radius) 0;
  border-left: 2px solid var(--color_dark);
  color: var(--color_dark);
  width: var(--btn_size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--btn_size) - 10px);
  transition: filter 220ms;
  margin-left: auto;
}

.popup .messageBox div.content {
  background: var(--bg_gradient);
  padding: 12px 16px;
  border-bottom-left-radius: var(--inner_radius);
  border-bottom-right-radius: var(--inner_radius);
  border-top: 2px solid var(--color_dark);
  color: var(--color_dark2);
}

.popup .messageBox div.content p,
ul {
  margin-top: 2px;
  margin-bottom: 8px;
}

.popup .messageBox div.footer {
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color_bright);
  flex-wrap: wrap;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(200, 200, 200, 0.2) 35%,
    rgba(150, 150, 150, 0.2) 35.5%,
    rgba(200, 200, 200, 0.2) 75%,
    rgba(150, 150, 150, 0.2) 75.5%,
    rgba(200, 200, 200, 0.2) 90%
  );
}

.popup .messageBox .footer .btn {
  border: none;
  background: var(--bg_gradient);
  border-radius: 0 0 var(--inner_radius) var(--inner_radius);
  border-top: 2px solid var(--color_dark);
  color: var(--color_dark);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  transition: filter 220ms;
  padding: 4px 8px;
  width: calc(50% - 2px);
  min-width: fit-content;
  margin: 0 1px;
}
.popup .messageBox button {
  font-family: unset;
}
.popup .messageBox button:hover {
  filter: brightness(1.2);
}
.popup .messageBox button:active {
  filter: brightness(0.8);
}

.popup-enter {
  opacity: 0;
}
.popup-enter-active {
  opacity: 1;
  transition: opacity 350ms;
}
.popup-exit {
  opacity: 1;
}
.popup-exit-active {
  opacity: 0;
  transition: opacity 350ms;
  transition-delay: 300ms;
}

.popup-enter .messageBox {
  transform: translateY(200px);
}
.popup-enter-active .messageBox {
  transform: translateY(0px);
  transition: transform 350ms;
}
.popup-exit .messageBox {
  transform: translateY(0px);
}
.popup-exit-active .messageBox {
  transform: translateY(-200px);
  transition: transform 350ms;
  transition-delay: 300ms;
}
