.game-container {
  width: calc(100vw);
  height: calc(100vh);
  overflow: hidden;
  table-layout: fixed;
}
.game-table {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.game-table td {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.playerIcon {
  width: 90%;
  height: 90%;
}
