.mapView {
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  user-select: none;
}

.mapView .tile {
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mapView .tile div.debug {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
}

.CharacterIcon {
  display: block;
  width: 100%;
  height: 100%;
}
.CharacterDiv {
  --speed: 500ms;
  position: absolute;
  z-index: 2;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: translate var(--speed) ease-out;
}
.CharacterDiv.position-left {
  translate: -100% 0%;
}
.CharacterDiv.position-left-up {
  translate: -100% -100%;
}
.CharacterDiv.position-left-down {
  translate: -100% 100%;
}
.CharacterDiv.position-right {
  translate: 100% 0%;
}
.CharacterDiv.position-right-up {
  translate: 100% -100%;
}
.CharacterDiv.position-right-down {
  translate: 100% 100%;
}
.CharacterDiv.position-up {
  translate: 0% -100%;
}
.CharacterDiv.position-down {
  translate: 0% 100%;
}
.CharacterDiv.position-center {
  translate: 0% 0%;
}

.mapView .tile > svg,
img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

svg.itemSVG {
  z-index: 1;
}
img.fgImage {
  z-index: 5;
}

svg.targetSVG {
  position: absolute;
  top: -20%;
  left: 0;
  z-index: 11;
  fill: #ff3333;
  transition: opacity 500ms ease;
  opacity: 1;
}
svg.targetSVG.fade-out {
  opacity: 0;
}
