body {
  margin: 0;
  padding: 0;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  background-color: #000000;
}

div .gameLayout {
  width: 100vw;
  height: 100vh;
  background-color: #224466;
  overflow: hidden;
}

div .mdReader {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
}
